.composition {
    position: relative;

    &__photo {
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        position: absolute;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 2rem;

        &--p1 {
            width: 60%;
            left: 0;
            top: -4rem;
        }

        &--p2 {
            width: 55%;
            right: -2rem;
            top: 8rem;
        }

        &--p3 {
            width: 55%;
            left: 10%;
            top: 18rem;
        }

        &:hover {
            outline: 1rem solid $color-primary-light;
            transform: scale(1.05) translateY(-0.5rem);
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}
